<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.dao.Customer">
    <result column="cus_id" jdbcType="INTEGER" property="cusId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="acno" jdbcType="VARCHAR" property="acno" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.dao.Customer">
    insert into customer (cus_id, username, acno,
      gender, phone)
    values (#{cusId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{acno,jdbcType=VARCHAR},
      #{gender,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.dao.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cusId != null">
        cus_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="acno != null">
        acno,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cusId != null">
        #{cusId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="acno != null">
        #{acno,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>
